@import url("../css/cabecalho.css");
@import url(../css/destaque.css); 

:root{
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-medio: #74787A;
    --cinza-claro: #B2B2B2;
    --fonte-principal: 'Roboto', sans-serif;
   

}

body{
    font-family: var(--fonte-principal);  
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main"
    "footer footer footer"
    ;  

    grid-template-columns: 1fr;   
    
}

.o-header{
    grid-area: header;
    height: 390px;
    width: auto;
}

 @media (min-width:744px){

    .o-header{
       
        height: 230px;
            
    }
 }

 @media  (min-width:1440px){

    .o-header{      
        height: 370px;            
    }

}

@media  (min-width:1728px){

    .o-header{      
        height: 440px;            
    }

}

@media  (min-width:1815px){

    .o-header{
        width: auto;
        height: 60vh;            
    }

}

/* Principal */

.o-principal{
    grid-area: main;  
    
    
}


/* Rodapé */

.o-rodape{
    grid-area: footer;
}


