@import url("../css/cabecalho.css");
@import url("../css/destaque.css"); 
@import url("../css/rodape.css");

:root{
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-medio: #74787A;
    --cinza-claro: #B2B2B2;
    --laranja: #FC4C02;
    --fonte-principal: 'Roboto', sans-serif;
   

}

body{
    font-family: var(--fonte-principal);  
    font-size: 14px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main"
    "footer footer footer"
    ;  

    grid-template-columns:  1fr  ;   
    
}

.o-header{
    grid-area: header;
    height: 105vh;
    
}

 @media (min-width:744px){

    .o-header{
       
        height: 65vh;
            
    }
 }

 @media  (min-width:1440px){

    .o-header{      
        height: 48vh;            
    }

}

@media  (min-width:1728px){

    .o-header{      
        height: 38vh;            
    }

}

@media  (min-width:1815px){

    .o-header{
        
        height: 60vh;            
    }

}

/* Principal */

.o-principal{
    grid-area: main;      
    
    
}


/* Rodapé */

.o-rodape{
    grid-area: footer;
}


