.o-header{
    display: grid;
    grid-template-columns: auto 1fr auto ;
    
    background-image: url("../img/banner.svg");
    background-repeat: no-repeat;
    background-size: 100%;      
    
}

.logo-banner{
    padding: 2em 0 0 2em;
    width: 150%;
}

.container_link {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr ;    
    color: var(--branco);
    text-align: right;     
    padding-right: 2em;
   
    
}

.item1{
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 6em;
    
}

.item2{
    font-weight: 400;
    padding-top: 2em;
    opacity: 80%;
    font-size: 1rem;
}

@media (min-width: 744px ){

    .o-header{         
        background-image: url("../img/banner-desktop.svg");       
        
    }

    .logo-banner{
        padding: 1.5em 0 0 2em;
        width: 110%;        
    }

    .container_link{
               
        padding-right: 3em;        
    }

    .item1{
        padding-top: 8em;
        font-size: 1.25vw; 
    }
  
    .item2{
        padding-top: 4em;
        font-size: .5vw;
       
        
    }

}

@media (min-width: 1740px ){

    .logo-banner{
        padding: 3em 0 0 4em;
        width: 200%;
        
    }

    .container_link{
        padding-right: 6em;
    }

    .item1{
        padding-top: 5em;
        font-size: 1.5vw; 
    }
  
    .item2{
        padding-top: 2em;
        font-size: 1vw;
       
    }
}

@media  (min-width:1815px){

    .logo-banner{
        padding: 12em 0 0 15em;
        width: 30vw;
        
    }

    .container_link{
        padding-right: 25em;
    }

}