


/* Cards do Principal */

.card_principal{    
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    max-width: 100%;    
    gap: .5rem;    
    background-color: var(--cinza-claro);
    
}
.card_imagem {
    
    width: 100%; 
    max-height: 100%;
   /* object-fit: calc(100% - 50%); /* Mantém a proporção da imagem e preenche o contêiner */
}

.titulo_destaque{
    font-size: 1.5rem;
    font-weight: 800;   
    text-align: center;
}

.paragrafo_destaque{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cinza-medio);
    padding: 1rem;
    margin-right: 1rem ;
    text-align: center;
}


