
.container-rodape{
    display: block;
    text-align: center;
}

.container-imagem_rodape{
    background-color: var(--laranja);
}

.logo-rodape{
    width: 50vw;
        
}

.paragrafo_rodape{
    font-size: 2vw;    
    font-weight: 400;
    padding: 4vw 0;
    line-height: 3vw; 
    color: var(--cinza-medio);
}

.botao{
   text-transform: uppercase;
   font-weight: 600;
   padding-top: 2vw;
}


.link-botao:hover {
    background-color: #e9a97e; 
}

@media (min-width: 744px){
    .paragrafo_rodape{
        font-size: 1.2vw;
        line-height: 1.5vw;  
    }

    .botao{
        padding-top: 1vw;
    }

  

}
