header{
    
    height: 255px ;
    background-image: url("../img/bannerMobile.svg");
    background-repeat: no-repeat;


}

.logo-banner{
    padding: 1em;
}

.link__Texto-banner{
    display: block;
    justify-content: space-around;
    color: var(--branco);
    text-align: right;
    margin: 0 1em 0 0 ;     
    font-size: .7em;
    
    
}

.paragrafo-bannerIlustrativo{
    
    font-weight: 500;    
}

.texto-menor {   
   
    font-weight: 300;
}